*{
    border: 1px solid red;
    color: white;

  
}
.title{
    left: 3px;
    position: absolute;
    margin-top: 500px;

};

div{
    position: absolute;
}


.price{
    left: 15px;
    position: absolute;
    margin-top: 55px;
}
   

.description{
    left: 15px;
    position: absolute;
    margin-top: 100px
};
    
.date{
    
};

.img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%; 
}