*{
    border: 1px solid red;

  
}
.title{
    left: 3px;
    position: absolute;
    margin-top: 350px;

};


div{
    text-align: left;
  
}


.price{
    left: 15px;
    position: absolute;
    margin-top: 400;
}
   

.Description{
  text-align: left;
    position: left;
    margin-top: 400px;
        
};
    
.date{
    display: left;
    position: absolute;
    margin-top: 460px;
};
    
.Images{
  
};